@font-face {
  font-family: "iconfont";
  src:
  /*先试用在线的、等项目完成后，下载到本地到本地*/
  url('https://at.alicdn.com/t/c/font_4018356_ra5s8bo0uni.ttf?t=1681614800501') format('truetype');
  /*src: url('./iconfont.ttf') format('truetype');*/
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shengyin:before {
  content: "\e606";
}

.erji:before {
  content: "\e60a";
}

.Star:before {
  content: "\e673";
}

