/* #ifndef APP-NVUE */
@font-face{
	font-family : "iconfont";
	font-weight : normal;
	font-style  : normal; 
	src         : url('@/static/font/iconfont.ttf') format('truetype');
}
.iconfont{font-family:"iconfont"; font-style:normal;}
/* #endif */